body {
  background-color: #fdf6e3;
  color: #004400;
}

.ad-container {
  background-color: #e6e0d4;
  color: #004400;
}

.nav-arrow svg {
  fill: #004400;
}

.intro-title,
.typewriter-text {
  color: #004400;
}
